.loader-text {
  position: relative;
  background-image: linear-gradient(
    to right,
    #cc1d5e 20%,
    #31597d 60%,
    #ff3333 100%
  );
  background-clip: text;
  background-size: 500%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
